<h3>Dialog Sample</h3>

<button type="button" class="btn btn-primary" (click)="openDialog()">Open</button>

<app-modal (cancel)="onModalCancel()">
    <div class="modal-header">
        <button type="button" class="close" (click)="onModalCancel()"><span>&times;</span></button>
        <h4 class="modal-title">Selezione Contesto</h4>
    </div>
    <div class="modal-body">
        <p>This is the content</p>
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-primary" (click)="okModal()">Ok</button>
    </div>
</app-modal>

<h3>Logs</h3>
<ul>
    <li *ngFor="let log of logs">{{log}}</li>
</ul>